{% extends '@SyliusShop/Account/layout.html.twig' %}
{% form_theme form '@SyliusUi/Form/theme.html.twig' %}


{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> /</div>
        <a href="{{ path('sylius_shop_account_dashboard') }}" class="section">{{ 'sylius.ui.my_account'|trans }}</a>
        <div class="divider"> /</div>
        <div class="active section">{{ 'destro.payment_sources'|trans }}</div>
    </div>
{% endblock %}

{% block subcontent %}
    <div class="ui segment">
        <h1 class="ui dividing header">
            Payment Sources
            <div class="sub header">Connect a bank account to your Destro Machines account</div>
        </h1>
    <div>
        {{ form_start(form, {'action': path('sylius_shop_account_payment_sources'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        <input type="hidden" name="_method" value="PUT" />

        <div class="two fields">
            <div class="field">{{ form_row(form.first_deposit) }}</div>
            <div class="field">{{ form_row(form.second_deposit) }}</div>
        </div>
        {% if error is defined %}
            {{ error }}
        {% endif %}
    </div>
        <button type="submit" class="ui large primary button">{{ 'sylius.ui.verify'|trans }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
